body{
    /* background-image: url("https://p0.pxfuel.com/preview/222/776/976/raisting-earth-station-antenna-zugspitze-royalty-free-thumbnail.jpg") */
}

h1{
    color: green;
}
.todayWeather{
    margin-left: 15%;
}
.userArea{
    
    margin-left: 15%;
    
}

.card-body{
    background-color: snow
 }

.cityBox{
    width: 18rem;
    height: 18rem;
    float: left;
    margin-top: 0px;
    margin-left: 15%;
    margin-bottom: 20%;    
    border: 1px red solid;
    background-color: antiquewhite
}

.forecast{
    float: right;
    margin-right: 25%;
}
#cityButton{
    margin: 5%;
    
}